JAVA-ABAP-UTIL/WebContent/wsdl/Encrypt.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions targetNamespace="http://Encrypt1.tapan.org" xmlns:apachesoap="http://xml.apache.org/xml-soap" xmlns:impl="http://Encrypt1.tapan.org" xmlns:intf="http://Encrypt1.tapan.org" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
<!--WSDL created by Apache Axis version: 1.4
Built on Apr 22, 2006 (06:55:48 PDT)-->
 <wsdl:types>
  <schema elementFormDefault="qualified" targetNamespace="http://Encrypt1.tapan.org" xmlns="http://www.w3.org/2001/XMLSchema">
   <element name="encryptAsymmetricKey">
    <complexType>
     <sequence>
      <element name="pubkey" type="xsd:string"/>
      <element name="password" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
   <element name="encryptAsymmetricKeyResponse">
    <complexType>
     <sequence>
      <element name="encryptAsymmetricKeyReturn" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
  </schema>
 </wsdl:types>

   <wsdl:message name="encryptAsymmetricKeyRequest">

      <wsdl:part element="impl:encryptAsymmetricKey" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="encryptAsymmetricKeyResponse">

      <wsdl:part element="impl:encryptAsymmetricKeyResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:portType name="Encrypt">

      <wsdl:operation name="encryptAsymmetricKey">

         <wsdl:input message="impl:encryptAsymmetricKeyRequest" name="encryptAsymmetricKeyRequest">

       </wsdl:input>

         <wsdl:output message="impl:encryptAsymmetricKeyResponse" name="encryptAsymmetricKeyResponse">

       </wsdl:output>

      </wsdl:operation>

   </wsdl:portType>

   <wsdl:binding name="EncryptSoapBinding" type="impl:Encrypt">

      <wsdlsoap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>

      <wsdl:operation name="encryptAsymmetricKey">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="encryptAsymmetricKeyRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="encryptAsymmetricKeyResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

   </wsdl:binding>

   <wsdl:service name="EncryptService">

      <wsdl:port binding="impl:EncryptSoapBinding" name="Encrypt">

         <wsdlsoap:address location="http://localhost:8080/JAVA-ABAP-UTIL/services/Encrypt"/>

      </wsdl:port>

   </wsdl:service>

</wsdl:definitions>
